table {
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border: 3px solid purple;
}

thead th:nth-child(1) {
    width: 10%;
}

thead th:nth-child(2) {
    width: 50%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 25%;
}

th, td {
    padding: 20px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}
